<load target="./js/content_widget.js" cond="$widget_info->page_count || count($widget_info->tab)" />
<load target="./css/widget.css" cond="$colorset != 'layout'" />

<div class="widgetContainer<!--@if($colorset=='black')--> black<!--@end-->">
    <!--#include("./_tab_top.html")-->
</div>
