<ul class="widgetA">
{@$_idx=0}
<!--@foreach($widget_info->content_items as $key => $item)-->
    <li<!--@if($_idx >= $widget_info->list_count)--> style="display:none"<!--@end-->>

        <!--@foreach($widget_info->option_view_arr as $k => $v)-->
            <!--@if($v=='title')-->
                <!--@if($widget_info->show_category=='Y' && $item->get('category_srl') )-->
                    <a href="{getSiteUrl($item->domain,'','mid',$item->get('mid'),'category',$item->get('category_srl'))}" target="_blank"|cond="$widget_info->new_window"><strong class="category" style="background-color:{$item->get('category_color')}"|cond="$item->get('category_color')!='transparent'">{$item->getCategory()}</strong></a>
                <!--@end-->

                <!--@if($widget_info->show_icon=='Y')-->
                    <span class="icon">{$item->printExtraImages()}</span>
                <!--@end-->

                <a href="{$item->getLink()}" class="title" target="_blank"|cond="$widget_info->new_window">{$item->getTitle(38)}</a>

                <!--@if($widget_info->show_comment_count=='Y' && $item->getCommentCount())-->
                    <em class="replyNum" title="Replies"><a href="{$item->getLink()}#comment" target="_blank"|cond="$widget_info->new_window">[{$item->getCommentCount()}]</a></em>
                <!--@end-->

                <!--@if($widget_info->show_trackback_count=='Y' && $item->getTrackbackCount())-->
                    <em class="trackbackNum" title="Trackbacks"><a href="{$item->getLink()}#trackback" target="_blank"|cond="$widget_info->new_window">{$item->getTrackbackCount()}</a></em>
                <!--@end-->
            <!--@else if($v=='regdate')-->
                <span class="date">{getTimeGap($item->get('regdate'), "Y.m.d")}</span>
            <!--@end-->
        <!--@end-->
    </li>
{@$_idx++}
<!--@end-->
</ul>
